@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul li {
  list-style: none;
}

.TextCut {
  display: -webkit-box;
  text-overflow: ellipsis;
  max-width: 100%;
  height: 2.5em;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

input[type="search"]::placeholder {
  font-size: .85rem;
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #d3d3d3;
  border-radius: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  /* Centers thumb on the track */

  /*custom styles*/
  background-color: #ffff;
  box-shadow: 0 0 8px rgba(25, 25, 25, .25);
  height: .75rem;
  width: .75rem;
  border-radius: 50%;
}

#Book {
  transition: border .3s ease;
  cursor: pointer;
  height: 60vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}